@import "./color.module";

/*
 * FONT
 **/
$fontSize: 16px;
$fontFamily: Poppins;

/*
 * GLOBALS
 **/
body {
    overflow-x: hidden;
}

html {
    font-size: $fontSize;
}
body {                
    color: $eggshell;
    background: $sesame;
    line-height: 1.65;
}

h1, h2, h3, h4, h5, dt {
    font-style: italic;
    line-height: 1.15;
}
p, footer, figcaption {
    font-weight: 300;
}    
h1, .h1 { 
    font-size: 3.052rem; 
    line-height: 3.125rem; 
}
h2, .h2 { font-size: 2.441rem; }
h3, .h3 { font-size: 1.952rem; }
h4, .h4 { font-size: 1.563rem; }
h5, .h5, dt, .lead { font-size: 1.05rem; }
p, .body { font-size: 1rem; }        
footer, figcaption, .small { font-size: 0.75rem; }    
b { font-weight: 500}
dt { margin-top: 1em; }
dd { 
    margin-left: 0; 
    &:before {
        content: "• ";
    }
}
a { color: $neon }

/**
 * Animations
 **/
@keyframes moveHorizontal {
    from { 
        transform: translate(10vw, 22vh);
    }
    to {
        transform: translate(15vw, 22vh);
    }
}
