.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}
.titleWrapper {
    position: relative;
    transition: 500ms opacity ease-out, 150ms transform ease-out;         
    opacity: 0;       
}
.title {
    text-align: center;
    margin: 0;

    @media (max-width: 540px) {
        font-size: 38px;
        line-height: 38px;
    }
}
.heading {
    margin: 0;
}
.crown {
    position: absolute;
    right: -29px;
    top: -22px;
    height: 50px;
    width: 76px;
    transition: 350ms transform ease-out;
    transition-delay: 150ms;
    transform: scale(0.5) rotate(5deg) translate(-16px, -8px);
}