@use "sass:string";
@import "../styles/color.module";

/* Do I need all of this */
$FADE_TIMING: 350;
$fadeTiming: string.unquote($FADE_TIMING + "ms");
:export {
    FADE_TIMING: $FADE_TIMING;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 73px 200px;

    @media (max-width: 540px) {
        padding: 0 25px;
    }
}
.sidebarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1100px) {
        flex-direction: row;
        align-items: initial;
    }
}
.sidebar {
    flex: 1 1 100%;
    text-align: center;

    @media (min-width: 1100px) {
        text-align: left;
        flex: initial;
    }
}
.projectList {
    list-style-type: none;

    li {
        margin-bottom: 0.75rem;

        @media (max-width: 1100px) {            
            display: inline;            

            &:after {
                content: "|";
            }

            &:last-child:after {
                content: none;
            }

            & > a {
                margin: 0 8px;
            }
        }
    }
}
.projectWrapper {
    // default computed <figure> styles
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;

    flex: none;

    @media (min-width: 1100px) {
        flex: 0 0 630px;
    }

    position: relative;
    width: 630px;
    height: 490px;
}
.project {
    margin: 0;
    position: absolute;
    top: 26px;
    left: 25px;
    width: 580px;
    height: 333px;
    overflow: hidden;
}
.projectCaption {
    position: absolute;
    margin: 0;
    padding: 10px;
    background-color: $sesame;
    transition: bottom $fadeTiming ease-out;
    z-index: 20;

    & a {
        text-decoration: none;
    }
}
.screenshotWrapper {
    transition: opacity $fadeTiming ease-out;
    opacity: 1;
}
.screenshot {
    position: absolute;
    top: 0;
    left: 0;
}
